<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>app{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="DCI Scores notification">
    <meta name="keywords" content="DCI,">
    <meta name="author" content="Kevan Ahlquist">
    <meta charset="utf-8">

    <link type="text/plain" rel="author" href="/humans.txt" />
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.css">
    <link rel="shortcut icon" href="app/static/favicon.ico">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46527915-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>
  <body>
  {% block navbar %}
  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse-1">
          <span class="sr-only">Toggle navigation></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">app</a>
      </div>
  </nav>
  {% endblock %}
    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; app 2014</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>